{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home
        {% endblock %}</title>
  </head>
  <body>

        {% block content %}
        <div class="row justify-content-center">

          <div class="col col-5">
            <div class="card">
              <div class="card-body">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                  <legend><h1 class="display-6">Save Picture</h1></legend>
                  {{ my_form|crispy }}
                  <button class="btn btn-secondary" type="submit">Save</button>
                </form>
              </div>
            </div>
          </div>

          <div class="col col-5">

          {% if data %}
          <div class="card" style="width: 18rem;">              
            <img src="{{ data.picture.url }}" class="card-img-top" alt="image name">
            <div class="card-body">
              <p class="card-text">{{ data.name }}</p>
              <button type="submit" class="btn btn-secondary btn-light"><a href="{% url 'delete' data.pk %}">Delete &#x1F5D1</a></button>
            </div>
          </div>
          {% else %}
          <p>No data yet</p>
          {% endif %}



          </div>        
          </div>        
     
        <hr>
        <center>Prashant Das</center>
        <center>{{ time|date:"F d, Y" }}</center>
        <br>   
        
        {% endblock %}
  </body>
</html>